{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <form method="post" action="">
    {% for field in form %}

        {% if field.name == 'csrf' %}
            {# do nothing i.e don't display this label #}
        {% else %}
            {{ field.label }}
        {% endif %}
        
        {{ field }}
        
        {% if field.errors %}
            <ul class='errors'>
                {% for error in field.errors %}<li>{{ error }}{% endfor %}
            </ul>
        {% endif %}

        {% endfor %}
        <input type="submit" value="Sign up!">
    </form>

{% endblock %}
